@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}
a{
    color: #786619;
    text-decoration: none;
    &:hover{
        color: #57490e;
        font-weight: bold;
    }
}
body{
    background-color: #f7f7f7;
}
input[type="checkbox"], input[type="text"], textarea, input[type="email"]{
    box-shadow: none !important;
    border: 2px solid #dbd7d7 !important;
    &:checked{
        background-color: #000000 !important;
    }
}
.wrapper{
    background-color: #fff;
    box-shadow: 1px 1px 11px 1px #000000;
    .header1{
        background-color: #f7f7f7;
    }
    .header2{
        .social-media-icons{
            div{
                width: 30px;
                height: 30px;
                line-height: 30px;
                margin: 5px;
                border-radius: 50%;
                text-align: center;
                background-color: #e2e2e2;
                a:hover{
                    i{
                       font-weight: bold;
                    }
                }
            }
        }
    }
    #home-page{
        width: 100%;
        .title{
            border-bottom: 2px solid #c3c9c5 !important;
        }
        .image{
            padding: 10px;
            overflow: hidden !important;
            img{
                height: 100%;
                &:hover{
                    transform: scale(1.1);
                    transition: transform 1s ease-in-out;
                }
            }
        }
    }

    #products-page{
        color: #777;
        .service-warranty, .showroom, .help, .filter-type, .filter-material{
            background-color: #f7f7f7;
            ul{
                list-style-type: none;
            }
        }
    }
}
.search-div{
    form{
        input{
            &:focus{
                outline: none;
            }
        }
        .search-btn{
            top: 0;
            right: 0;
            background-color: #dbd7d7;
            border: 2px solid #dbd7d7 !important;
        }
    }
}
.border-bottom-class{
    border-bottom: 2px solid #c3c9c5;
}
footer{
    background-color: #9b9b9b;
    ul{
        list-style-type: none;
    }
    #copyright{
        background-color: rgba(0,0,0,.15);
    }
}
select{
    border: 1px solid #c3c9c5 !important;
    &:focus{
        box-shadow: none !important;
    }
}
.star{
    font-size: large;
    color: red;
}
.nn{
    border: 2px solid red;
}

@media only screen and (max-width: 750px) {
    .wrapper{
        .header2{
            .logo{
                width: 200px;
            }
        }
    }
}
@media only screen and (max-width: 690px) {
    .wrapper{
        .header2{
            .social-media-icons{
                display: none !important;
            }
        }
    }
}
@media only screen and (max-width: 515px) {
    .wrapper{
        .header2{
            .logo{
                width: 150px;
            }
        }
    }
}
@media only screen and (max-width: 465px) {
    .wrapper{
        .header2{
            .search-div{
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 385px) {
    .wrapper{
        .header1{
            p{
                display: none;
            }
        }
    }
}

